*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Segoe UI", Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    box-sizing: border-box;
    text-decoration: none;
    color: #514949;
}
.span {
    color: #E7332B;
    font-size: .9rem;
}
.btn-2 {
    background-color: #FFFAFA;
    padding: 10px 25px ;
    color: #E7332B;
    font-size: .9rem;
    border: 2px solid #E7332B;
}
.btn-1 {
    padding: 10px 25px;
    font-size: .9rem;
    background-color: #E7332B;
    color: #FFFAFA;
}
.f-w{
    font-weight: 600;
}


header {
    height: 900px;
    background: #FFFAFA;
    padding-top: 70px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    background-image: url("svg/home.svg");
}
.logo-container{
    margin: auto;
    width: 150px;
    position: relative;
}
.logo{
    width: 6.1rem;   
}
.logo-dot{
    position: absolute;
    border-radius: 50%;
    top: 15px;
    left: 65px;
   width: 3px;
   height: 3px;
   background-color: #E7332B;
}
.header-title{
    margin: 80px auto 36px auto;
    display: flex;
    justify-content: center;
}
.header-title > div{
    font-size: 1.7rem;
    font-family: Averta, sans-serif;
    margin:0 2px;
    font-weight: 700;
}
header > p{
    opacity: .99;
    width: 670px;
    margin: auto;
    font-size: .9rem;
    line-height: 1.75rem;
    font-weight: 500;
}

.btn-container {
    margin: 75px auto;
    display: flex;
    width: 500px;
    justify-content: space-between;
}
main{
    margin-top: 140px;
    display: grid;
    text-align: center;
    place-items: center;
}
.main{
    width: 33.2%;
}
.main > p{
    margin-top: 16px;
    line-height: 36px;
    font-weight: 600;
    font-size: 1.3rem;
}
.card-wrapper{
    width: 93vw;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.card-container{
    margin-top: 30px;
    width: 31%;
}
.card{
    text-align: left;
    background-color: #FFFAFA;
    padding: 60px 35px 80px 35px;
}
.card > h6 {
    padding: 40px 10px;
    background-color: #fff;
    width: fit-content;
    margin-bottom: 30px;
}
.card > P {
    line-height: 1.4rem;
    width: 100%;
    margin-top: 40px;
    font-weight: 500;
    font-size: .9rem;
}
.card > div {
    margin-top: 30px;
}

footer{
    margin-top: 70px;
    margin-bottom: 10px;
    display: grid;
    place-content: center;
}
footer > div {
    width: 95vw;
    margin-bottom: 100px;
}
.link{
    flex-grow: 1;
    display: flex;
}
.link div{
    flex-grow: 2;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
}

.link ul {
    margin-left: 30px;
    list-style-type: none;
    flex-grow: 1;
    flex-basis: 25%;
}
.link ul li {
    font-size: .9rem;
    margin: 20px ;
}
.link-logo{
    background-color: transparent;
}
.footer-2{
    margin-top: 40px;
    margin-bottom: 90px;
    text-align: center;
}


/******* MEDIA QUERIES*******/

/******* RESPONSIVENESS ON 1200, 900, 769, 375 PIXELS *******/

@media screen and (max-width: 1000px) {
    header > p{
        width: 600px;
    }
    .btn-container {
        width: 500px;
    }
    .card-wrapper{
        width: 95%;
        flex-wrap: wrap;
    }
    .card-container{
        width: 100%;
    }
    .footer-1 > .logo{
        flex-basis: 35%;
    }
    .footer-1 > .link{
        flex-basis: 65%;
    }
    .link ul li{
        font-size: .85rem;
    }.main{
        width: 40%;
    }
}

@media screen and (max-width: 769px) {
    header > p{
        width: 450px;
    }
    .card-wrapper{
        width: 95%;
    }
    .main > p{
        line-height: 1.5rem;
        font-size: 1.1rem;
    }
    .main{
        width: 45%;
    }
    footer{
        margin-bottom: 0px;
    }
    footer > div {
        width: 95vw;
    }
    .btn-container{
        width: 65vw;
    }
    .link{
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .link ul {
        margin-left: 30px;
    }
    .link ul li {
        font-size: .9rem;
        margin: 15px ;
        text-align: center;
    }
    .footer-2{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width: 475px) {
    header > p{
        margin: 0 auto;
        width: 80%;
    } 
    .btn-container {
        width: 50%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mb{
        margin-bottom: 20px;
    }
    .main{
        width: 85%;
    }

}